[user]
	name = Érico Andrei
	email = erico@simplesconsultoria.com.br
[color]
	ui = true

[core]
	excludesfile = /Users/erico/.gitignore
    editor = "mate -w"
    
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log
    up = pull
    pom = push origin master
    export = !mkdir tmpexport | git archive master | tar -x -C tmpexport/

[codebase]
	username = ericof
	domain = simplesconsultoria.codebasehq.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
